/*@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&family=Manrope:wght@300;400;500;600;700;800&display=swap');*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;

  //@media screen and (max-width: 430px) {
  //  overflow-y: hidden;
  //}
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.swiper-pagination-bullet-active {
  color:#fff;
  background: rgba(12, 11, 11, 0.42);
}
.swiper-pagination-bullet-active{

}

.likesImg {
  position: relative;
  left: 81px;
  top: 61px;
}
